body {
     background-image: url('../img/backgroundImg.svg');
     background-position: center;
     background-size: cover;
    }


      button {
    
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 10px;
        height: 10px;
        border-style: none;
        border-radius: 40px;
        margin: -394px 1065px;
    }

      input {

        width: 250px;
        height: 28px;
        margin: 363px 850px;
        border-style: none;
        border-radius: 20px;
    }


      

    

